<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Default_SpeedDials_DE</key>
	<array>
		<dict>
			<key>icon</key>
			<string>http://opsen-static.dolphin-browser.com/resources/icon/provision_services/1472541784.png</string>
			<key>name</key>
			<string>eBay</string>
			<key>url</key>
			<string>http://rover.ebay.de/rover/1/707-53477-19255-0/1?icep_ff3=1&amp;pub=5575097811&amp;toolid=10001&amp;campid=5337712759&amp;customid=&amp;ipn=psmain&amp;icep_vectorid=229487&amp;kwid=902099&amp;mtid=824&amp;kw=lg</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>http://opsen-static.dolphin-browser.com/resources/icon/provision_services/1472541941.png</string>
			<key>name</key>
			<string>Amazon</string>
			<key>url</key>
			<string>http://www.amazon.de/?_encoding=UTF8&amp;camp=1638&amp;creative=6742&amp;linkCode=ur2&amp;site-redirect=de&amp;tag=iphone06f-21&amp;linkId=CQ3JF3W6L5K2GAAN</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>http://opsen-static.dolphin-browser.com/resources/icon/provision_services/1472543868.png</string>
			<key>name</key>
			<string>Titan&apos;s War</string>
			<key>url</key>
			<string>http://titanen.mobi?channelId=26914</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>http://opsen-static.dolphin-browser.com/resources/icon/provision_services/1472543937.png</string>
			<key>name</key>
			<string>Booking</string>
			<key>url</key>
			<string>http://www.booking.com/index.html?aid=813035</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>http://opsen-static.dolphin-browser.com/resources/icon/provision_services/1472543990.png</string>
			<key>name</key>
			<string>Wallpaper</string>
			<key>url</key>
			<string>http://m.flikie.com/</string>
		</dict>
	</array>
	<key>Default_SpeedDials_TR</key>
	<array>
		<dict>
			<key>icon</key>
			<string>http://opsen-static.dolphin-browser.com/resources/icon/provision_services/1472547993.png</string>
			<key>name</key>
			<string>Google</string>
			<key>url</key>
			<string>https://www.google.com.tr</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>http://opsen-static.dolphin-browser.com/resources/icon/provision_services/1472548244.png</string>
			<key>name</key>
			<string>Haberler</string>
			<key>url</key>
			<string>http://now.dolphin.com/tr-tr/newslist.html?from=home&amp;pn=com.dolphin.browser.iphone</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>http://opsen-static.dolphin-browser.com/resources/icon/provision_services/1472548480.png</string>
			<key>name</key>
			<string>Facebook</string>
			<key>url</key>
			<string>https://www.facebook.com</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>http://opsen-static.dolphin-browser.com/resources/icon/provision_services/1472548547.png</string>
			<key>name</key>
			<string>Uçak Bileti</string>
			<key>url</key>
			<string>http://www.geziko.com?affId=184155&amp;utm_source=affiliate&amp;utm_medium=184155&amp;utm_campaign=Dolphin_mobile</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>http://opsen-static.dolphin-browser.com/resources/icon/provision_services/1472548692.png</string>
			<key>name</key>
			<string>TurkNET</string>
			<key>url</key>
			<string>http://action.metaffiliation.com/trk.php?mclic=P4A3D95646A922D1</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>http://opsen-static.dolphin-browser.com/resources/icon/provision_services/1472548791.png</string>
			<key>name</key>
			<string>Hürriyet</string>
			<key>url</key>
			<string>http://www.hurriyet.com.tr/</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>http://opsen-static.dolphin-browser.com/resources/icon/provision_services/1472548872.png</string>
			<key>name</key>
			<string>Yandex</string>
			<key>url</key>
			<string>http://www.yandex.ru/?clid=2119852</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>http://opsen-static.dolphin-browser.com/resources/icon/provision_services/1472548957.png</string>
			<key>name</key>
			<string>Sahibinden</string>
			<key>url</key>
			<string>http://www.sahibinden.com/</string>
		</dict>
	</array>
	<key>Default_SpeedDials_SA</key>
	<array>
		<dict>
			<key>icon</key>
			<string>http://opsen-static.dolphin-browser.com/resources/icon/provision_services/1472718932.png</string>
			<key>name</key>
			<string>Facebook</string>
			<key>url</key>
			<string>https://www.facebook.com/DolphinFans</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>http://opsen-static.dolphin-browser.com/resources/icon/provision_services/1472719040.png</string>
			<key>name</key>
			<string>Amazon</string>
			<key>url</key>
			<string>http://www.amazon.com/?_encoding=UTF8&amp;camp=1789&amp;creative=9325&amp;linkCode=ur2&amp;tag=iphone0dce-20&amp;linkId=OMBRYAX56M45VB35</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>http://opsen-static.dolphin-browser.com/resources/icon/provision_services/1472719635.png</string>
			<key>name</key>
			<string>eBay</string>
			<key>url</key>
			<string>http://rover.ebay.com/rover/1/711-53200-19255-0/1?icep_ff3=1&amp;pub=5575097811&amp;toolid=10001&amp;campid=5337712761&amp;customid=dolphin&amp;ipn=psmain&amp;icep_vectorid=229466&amp;kwid=902099&amp;mtid=824&amp;kw=lg</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>http://opsen-static.dolphin-browser.com/resources/icon/provision_services/1472719719.png</string>
			<key>name</key>
			<string>أخبار</string>
			<key>url</key>
			<string>http://now.dolphin.com/ar-sa/newslist.html?from=home&amp;pn=com.dolphin.browser.iphone</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>http://opsen-static.dolphin-browser.com/resources/icon/provision_services/1472719776.png</string>
			<key>name</key>
			<string>Twitter</string>
			<key>url</key>
			<string>http://www.twitter.com</string>
		</dict>
	</array>
	<key>Default_SpeedDials_RU</key>
	<array>
		<dict>
			<key>icon</key>
			<string>http://opsen-static.dolphin-browser.com/resources/icon/provision_services/1472624379.png</string>
			<key>name</key>
			<string>Яндекс</string>
			<key>url</key>
			<string>http://www.yandex.ru/?clid=2119852</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>http://opsen-static.dolphin-browser.com/resources/icon/provision_services/1472624436.png</string>
			<key>name</key>
			<string>Вконтакте</string>
			<key>url</key>
			<string>http://vk.com/dolphinbrowser</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>http://opsen-static.dolphin-browser.com/resources/icon/provision_services/1472624521.png</string>
			<key>name</key>
			<string>Касса</string>
			<key>url</key>
			<string>http://mapp.kassa.rambler.ru/?utm_source=kassa&amp;utm_content=dolphin_browse&amp;utm_medium=download&amp;utm_campaign=commercial</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>http://opsen-static.dolphin-browser.com/resources/icon/provision_services/1472624590.png</string>
			<key>name</key>
			<string>Новости</string>
			<key>url</key>
			<string>http://now.dolphin.com/ru-ru/newslist.html?from=home&amp;pn=com.dolphin.browser.iphone</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>http://opsen-static.dolphin-browser.com/resources/icon/provision_services/1472624653.png</string>
			<key>name</key>
			<string>Фишки</string>
			<key>url</key>
			<string>http://fishki.net/</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>http://opsen-static.dolphin-browser.com/resources/icon/provision_services/1472624733.png</string>
			<key>name</key>
			<string>Ok</string>
			<key>url</key>
			<string>http://goo.gl/cNuxRW</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>http://opsen-static.dolphin-browser.com/resources/icon/provision_services/1472624802.png</string>
			<key>name</key>
			<string>AdMe</string>
			<key>url</key>
			<string>http://www.adme.ru/</string>
		</dict>
	</array>
	<key>Default_SpeedDials_CN</key>
	<array>
		<dict>
			<key>icon</key>
			<string>http://opsen-static.dolphin-browser.com/resources/icon/provision_services/1472011700.png</string>
			<key>name</key>
			<string>新闻</string>
			<key>url</key>
			<string>http://news.dolphin.com</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>http://opsen-static.dolphin-browser.com/resources/icon/ios/iphone_speeddial_JP/baidu.com.png</string>
			<key>name</key>
			<string>百度</string>
			<key>url</key>
			<string>http://m.baidu.com/s?from=1018225b&amp;bd_page_type=1</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>http://opsen-static.dolphin-browser.com/resources/icon/ios/iphone_speeddial_JP/taobao.com.png</string>
			<key>name</key>
			<string>淘宝</string>
			<key>url</key>
			<string>http://ai.m.taobao.com/index.html?pid=mm_33436332_6802005_61546383</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>http://opsen-static.dolphin-browser.com/resources/icon/ios/iphone_speeddial_EN/jd.com.png</string>
			<key>name</key>
			<string>京东</string>
			<key>url</key>
			<string>http://c.duomai.com/track.php?site_id=160191&amp;aid=1146&amp;euid=&amp;t=http%3A%2F%2Fm.jd.com%2F</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>http://opsen-static.dolphin-browser.com/resources/icon/ios/iphone_speeddial_EN/sogou.com.png</string>
			<key>name</key>
			<string>搜狗</string>
			<key>url</key>
			<string>https://wap.sogou.com/?fr=ad&amp;bid=sogou-mobb-94739e5a5164b4d2</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>http://opsen-static.dolphin-browser.com/resources/icon/ios/iphone_speeddial_JP/meituan.com.png</string>
			<key>name</key>
			<string>美团</string>
			<key>url</key>
			<string>http://r.union.meituan.com/url/visit/?a=1&amp;key=4d08f85980ed87a94e995a729804d851780&amp;url=http%3A%2F%2Fi.meituan.com</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>http://opsen-static.dolphin-browser.com/resources/icon/provision_services/1474358347.png</string>
			<key>name</key>
			<string>58同城</string>
			<key>url</key>
			<string>http://jump.luna.58.com/i/29Hw</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>http://opsen-static.dolphin-browser.com/resources/icon/ios/iphone_speeddial_JP/youku.com.png</string>
			<key>name</key>
			<string>优酷</string>
			<key>url</key>
			<string>http://www.youku.com</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>http://opsen-static.dolphin-browser.com/resources/icon/provision_services/1474361734.png</string>
			<key>name</key>
			<string>携程旅游</string>
			<key>url</key>
			<string>http://m.ctrip.com/html5/?sales=mqcmh5ly&amp;sourceid=2583&amp;allianceid=309318&amp;sid=857067</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>http://opsen-static.dolphin-browser.com/resources/icon/provision_services/1471503187.png</string>
			<key>name</key>
			<string>神马搜索</string>
			<key>url</key>
			<string>https://yz.m.sm.cn/?from=wm204549</string>
		</dict>
	</array>
	<key>Default_SpeedDials_US</key>
	<array>
		<dict>
			<key>icon</key>
			<string>http://opsen-static.dolphin-browser.com/resources/icon/provision_services/1472530379.png</string>
			<key>name</key>
			<string>eBay</string>
			<key>url</key>
			<string>http://rover.ebay.com/rover/1/711-53200-19255-0/1?icep_ff3=1&amp;pub=5575097811&amp;toolid=10001&amp;campid=5337712761&amp;customid=dolphin&amp;ipn=psmain&amp;icep_vectorid=229466&amp;kwid=902099&amp;mtid=824&amp;kw=lg</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>http://opsen-static.dolphin-browser.com/resources/icon/provision_services/1472530465.png</string>
			<key>name</key>
			<string>Amazon</string>
			<key>url</key>
			<string>http://www.amazon.com/?_encoding=UTF8&amp;camp=1789&amp;creative=9325&amp;linkCode=ur2&amp;tag=iphone0dce-20&amp;linkId=OMBRYAX56M45VB35</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>http://opsen-static.dolphin-browser.com/resources/icon/provision_services/1472530705.png</string>
			<key>name</key>
			<string>Facebook</string>
			<key>url</key>
			<string>https://www.facebook.com/DolphinFans</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>http://opsen-static.dolphin-browser.com/resources/icon/provision_services/1472530776.png</string>
			<key>name</key>
			<string>Twitter</string>
			<key>url</key>
			<string>http://www.twitter.com</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>http://opsen-static.dolphin-browser.com/resources/icon/provision_services/1472530826.png</string>
			<key>name</key>
			<string>Groupon</string>
			<key>url</key>
			<string>http://tracking.groupon.com/r?tsToken=US_AFF_0_203453_246384_0&amp;url=http%3A%2F%2Fwww.groupon.com%2F%3Fz%3Dskip%26utm_medium%3Dafl%26utm_source%3DGPN%26utm_campaign%3D203453%26mediaId%3D246384</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>http://opsen-static.dolphin-browser.com/resources/icon/provision_services/1472530962.png</string>
			<key>name</key>
			<string>Hot Deals</string>
			<key>url</key>
			<string>http://www.whatsbestbuying.com/</string>
		</dict>
	</array>
	<key>Default_SpeedDials_KR</key>
	<array>
		<dict>
			<key>icon</key>
			<string>http://opsen-static.dolphin-browser.com/resources/icon/provision_services/1473404423.png</string>
			<key>name</key>
			<string>다음</string>
			<key>url</key>
			<string>http://www.daum.net/</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>http://opsen-static.dolphin-browser.com/resources/icon/provision_services/1472628696.png</string>
			<key>name</key>
			<string>G마켓</string>
			<key>url</key>
			<string>http://www.gmarket.co.kr/</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>http://opsen-static.dolphin-browser.com/resources/icon/provision_services/1472628733.png</string>
			<key>name</key>
			<string>11번가</string>
			<key>url</key>
			<string>http://www.11st.co.kr/</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>http://opsen-static.dolphin-browser.com/resources/icon/provision_services/1472628783.png</string>
			<key>name</key>
			<string>알라딘</string>
			<key>url</key>
			<string>http://www.aladin.co.kr</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>http://opsen-static.dolphin-browser.com/resources/icon/provision_services/1472629327.png</string>
			<key>name</key>
			<string>티몬</string>
			<key>url</key>
			<string>http://www.ticketmonster.co.kr/</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>http://opsen-static.dolphin-browser.com/resources/icon/provision_services/1472629018.png</string>
			<key>name</key>
			<string>쿠팡</string>
			<key>url</key>
			<string>http://coupang.com/</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>http://opsen-static.dolphin-browser.com/resources/icon/provision_services/1472629112.png</string>
			<key>name</key>
			<string>네이버</string>
			<key>url</key>
			<string>http://www.naver.com/</string>
		</dict>
	</array>
	<key>Default_SpeedDials_JP</key>
	<array>
		<dict>
			<key>icon</key>
			<string>http://opsen-static.dolphin-browser.com/resources/icon/provision_services/1472725701.png</string>
			<key>name</key>
			<string>グーグル</string>
			<key>url</key>
			<string>http://www.google.co.jp/</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>http://opsen-static.dolphin-browser.com/resources/icon/provision_services/1472725875.png</string>
			<key>name</key>
			<string>Yahoo!</string>
			<key>url</key>
			<string>http://m.yahoo.co.jp/?fr=top_dol_ipn</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>http://opsen-static.dolphin-browser.com/resources/icon/provision_services/1472725954.png</string>
			<key>name</key>
			<string>Amazon</string>
			<key>url</key>
			<string>http://ck.jp.ap.valuecommerce.com/servlet/referral?sid=3055532&amp;pid=883541810&amp;vc_url=http%3A%2F%2Fwww.amazon.co.jp%2F%3Ftag%3Dvcbrowser-22</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>http://opsen-static.dolphin-browser.com/resources/icon/provision_services/1472726044.png</string>
			<key>name</key>
			<string>Mobage</string>
			<key>url</key>
			<string>http://sp.mbga.jp/AFdob0000001/_t</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>http://opsen-static.dolphin-browser.com/resources/icon/provision_services/1472726097.png</string>
			<key>name</key>
			<string>楽天</string>
			<key>url</key>
			<string>http://hb.afl.rakuten.co.jp/hgc/13298997.901ab1b2.13298998.65040be4/?pc=http%3a%2f%2fwww%2erakuten%2eco%2ejp</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>http://opsen-static.dolphin-browser.com/resources/icon/provision_services/1472726194.png</string>
			<key>name</key>
			<string>Y!ロコ</string>
			<key>url</key>
			<string>http://rdsig.yahoo.co.jp/loco/dolphin/RV=1/RU=aHR0cDovL2xvY28ueWFob28uY28uanAv</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>http://opsen-static.dolphin-browser.com/resources/icon/provision_services/1472726277.png</string>
			<key>name</key>
			<string>Y!路線</string>
			<key>url</key>
			<string>http://rdsig.yahoo.co.jp/transit/sp/android/dolphin/RV=1/RU=aHR0cDovL3RyYW5zaXQubG9jby55YWhvby5jby5qcC8-</string>
		</dict>
	</array>
	<key>Default_SpeedDials_CN_4</key>
	<array>
		<dict>
			<key>icon</key>
			<string>dolphin.com.png</string>
			<key>name</key>
			<string>新闻</string>
			<key>url</key>
			<string>http://news.dolphin.com</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>favorite_baidu.png</string>
			<key>name</key>
			<string>百度</string>
			<key>url</key>
			<string>http://m.baidu.com/?from=1395c</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>favorite_taobao.png</string>
			<key>name</key>
			<string>淘宝网</string>
			<key>url</key>
			<string>http://m.taobao.com</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>favorite_ganji.png</string>
			<key>name</key>
			<string>新浪</string>
			<key>url</key>
			<string>http://3g.sina.com</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>favorite_sogou.png</string>
			<key>name</key>
			<string>搜狗</string>
			<key>url</key>
			<string>http://wap.sogou.com/?fr=ad3&amp;bid=sogou-mobb-14da92f2bdaec7f2</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>favorite_meituan.png</string>
			<key>name</key>
			<string>美团</string>
			<key>url</key>
			<string>http://r.union.meituan.com/url/visit/?a=1&amp;key=8FcyQ5HeKZ4GYj7PALMEWhdSum6rqC02wnz&amp;url=http%3A%2F%2Fi.meituan.com</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>favorite_youku.png</string>
			<key>name</key>
			<string>优酷</string>
			<key>url</key>
			<string>http://3g.youku.com</string>
		</dict>
	</array>
	<key>Default_SpeedDials_BR</key>
	<array>
		<dict>
			<key>icon</key>
			<string>http://opsen-static.dolphin-browser.com/resources/icon/provision_services/1472722232.png</string>
			<key>name</key>
			<string>Amazon</string>
			<key>url</key>
			<string>http://www.amazon.com/?_encoding=UTF8&amp;camp=1789&amp;creative=9325&amp;linkCode=ur2&amp;tag=iphone0dce-20&amp;linkId=OMBRYAX56M45VB35</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>http://opsen-static.dolphin-browser.com/resources/icon/provision_services/1472722298.png</string>
			<key>name</key>
			<string>Facebook</string>
			<key>url</key>
			<string>https://www.facebook.com/dophinbr</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>http://opsen-static.dolphin-browser.com/resources/icon/provision_services/1472722401.png</string>
			<key>name</key>
			<string>Funny</string>
			<key>url</key>
			<string>http://coo123.net/touch/index.php?c=2212511002&amp;n=</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>http://opsen-static.dolphin-browser.com/resources/icon/provision_services/1472722603.png</string>
			<key>name</key>
			<string>UOL</string>
			<key>url</key>
			<string>http://m.uol.com.br</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>http://opsen-static.dolphin-browser.com/resources/icon/provision_services/1472722672.png</string>
			<key>name</key>
			<string>Globo</string>
			<key>url</key>
			<string>http://m.globo.com</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>http://opsen-static.dolphin-browser.com/resources/icon/provision_services/1472722927.png</string>
			<key>name</key>
			<string>Instagram</string>
			<key>url</key>
			<string>https://instagram.com/accounts/login</string>
		</dict>
	</array>
</dict>
</plist>
